 <!-- Header with Navbar -->
 <header class="border-t-4 border-primary">
  <nav class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/assets/pdfs/pedro-carmona-cv.pdf">CV</a></li>
        </ul>
      </div>
      <a href="/" class="flex items-center">
        <div class="avatar">
          <div class="w-10 h-10 rounded-full">
            <img src="/assets/img/picture.jpeg" alt="Pedro Carmona" />
          </div>
        </div>
        <span class="ml-4 text-lg font-bold uppercase">Pedro Carmona</span>
      </a>
    </div>
    <div class="navbar-end hidden lg:flex">
      <ul class="menu menu-horizontal px-1 font-bold uppercase">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/assets/pdfs/pedro-carmona-cv.pdf">CV</a></li>
      </ul>
    </div>
  </nav>
</header>