---
layout: default
---

{{ content }}

<div class="hero container-inner mx-auto">
    <div class="mb-8">
        <img src="/images/picture.jpeg" class="mx-auto w-40 h-40 rounded-full mb-8 lg:mb-0" width="390" alt="avatar">
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-center mb-16">
        <div class="flex-1 text-lg sm:text-xl ml-6">Ruby on Rails Developer, Software Engineer, Test Driven Developer</div>
    </div>
</div>

<div class="hero container-inner mx-auto text-xl border-t border-gray-500 py-16 mb-16">
    <h2 class="font-bold mb-6 ml-6">Professional Experience:</h2>

    <ul class="text-sm md:text-xl space-y-6 ml-6">
        <li class="checkmark">
            <div>Software Engineer @GetLavanda (2020-current, Portugal)</div>
            <div class="text-xs md:text-lg text-gray-600">Property Management System: Ruby on Rails</div>
        </li>
        <li class="checkmark">
            <div>Medior Software Engineering @Goboony (2017-2019, The Netherlands)</div>
            <div class="text-xs md:text-lg text-gray-600">Motorhome Sharing Platform: Ruby on Rails</div>
        </li>
        <li class="checkmark">
            <div>Junior Software Engineer @BidMath (2015-2017, The Netherlands)</div>
            <div class="text-xs md:text-lg text-gray-600">Advertising Technology - Ruby on Rails and Sinatra</div>
        </li>
        <li class="checkmark">
            <div>Programmer Analyst I @FIS (2014-2015, The Netherlands)</div>
            <div class="text-xs md:text-lg text-gray-600">Banking Industry Software - Java and Javascript</div>
        </li>
        <li class="checkmark">
            <div>Web developer @Whitesmith (2013, Portugal)</div>
            <div class="text-xs md:text-lg text-gray-600">Ruby on Rails consultant - Space renting software</div>
        </li>
    </ul>
</div>

