---
layout: default
---

<p class="text-gray-600 text-sm font-light">{{ page.date | date: '%B %d, %Y' }}</p>
<h1 class="text-gray-800 text-xl sm:text-2xl md:text-3xl font-bold capitalize mt-2">{{ page.title }}</h1>

<div class="prose mt-8">
    {{ content }}
</div>
