<header class="border-t-14 border-green-700">
  <nav class="container mx-auto flex flex-wrap justify-between items-center py-8">
    <div>
      <a href="/" class="active--exact active">
        <img alt="logo" src="data:image/svg+xml,%3csvg fill='none' viewBox='0 0 1292 245' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cfilter id='__svg-blur-ed2c63d3d6c193bda965d55318296e34'%3e%3cfeGaussianBlur in='SourceGraphic' stdDeviation='40'/%3e%3c/filter%3e%3c/defs%3e%3cimage x='0' y='0' filter='url(%23__svg-blur-ed2c63d3d6c193bda965d55318296e34)' width='1292' height='245' xlink:href='data:image/svg%2bxml%3bbase64%2ciVBORw0KGgoAAAANSUhEUgAAAEAAAAAMCAYAAADS87vJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAEmUlEQVRIx72Wf0xVZRjHn3MuUBbDiFrAatbGamu6nLhYmYWIQTDFqaxykpYpApfgXsLAe4m11rIfs7nVassfiLvQj%2bUyjNia0%2bWW1Go2%2brWmxrLSWZqW1JK6nL7Pud9zezncu/7r3T47z/u%2bz3nO8zzv%2b7zvEYmFbNG2o0UgrwMHwTj4EuS6c7GQJUZzHCf5nJiYsCVN8/SgM6lvzFs%2be1eAG0z7/0%2bLhfLAfhnY5Mi7UUfeaHfQPwEKUiXAc85wtARsAwfB26DO00PwFhNlsX8l%2bpvADC8JIEC5FRwHmcZcqqRPSo7ni8%2bnSX1vIaaOx1otBHhABrs06HOgG9wJrk4G3xdOPHe3ukNjf11MBgRD7U6ifQt6mQRt74NLqGODDMqzOV/NfpbOU94IftQE%2bIKyDTtJ2dt93k409APG7rJTJNrTcQNslIGIBn8WlPh2RiJ4s/UETaPzNRJ8fIupgv4yDL8JctOURlaqUsB7TZB/8HaAz6btLy3/%2bH%2bVovmtf%2bVYaFj2RTUBGxl0gGQaiciW3pZciaxwMzhy/qS3mjFw3jCYmeLjt4LdYAcYBnNBDyhiAJshHwU7wYtglO/dBz4Gh1Xm2I1gD/gKDOHdYo4/BZ4F/XynCmwFX4Nm6mSDl8GntFmb8LC/7aL0h%2bOo%2b7lu/7W2DAQ8CEZAFmgAv4FfsBsOZL0TzTGCO6QfNIPHs5FO7gKrQTl3SS/n5rAEZoGnKbeATjAOPgOF%2bgp4HDwMngHTwWnwEVgB3gN/ggL68ROoYAK0PQBeojydi3UEXE%2b/1KcykW1N49LzyN8SqS1O3AbBaQj2mHsT9IVz8NwsezsdJMaRnc2OdN87x0jAXnCCsrcr1Om3%2bGE9EOfR0WzOF4ELoBR8ByKGvefVHs8AfXfUWME6JuUyQ/8sz4194BWOdYHvjR1zgYtwjufSk%2bAFJmBIZG35EQlWOVI7r5529bArBEXJfRyt7ZDQEge6p2TBrDzDgZUMdKWvXvM5voznhDpR6HNqoTqqJ79hr5tJyQCX6jYFJ5kMPR/%2b8BJNfZ2LggG9hYxyOE65WEuUCdBvbgerwDr4%2bCBYKLKqNCL1FY6sKTsqq8vyp5wg98/Pgc5hWX%2b3I3WlPTo0u3NtoHuoz3NiD4N9lVuriys1zPkl7BewfxP1Z7ImdSWW47EGxMHn4C7uhBLMdVD/Fl1F9AfxvJ0lpm0Gt/0u2n9Oy8FIgLab6aeW17VgEfgEthYIVj8HCfhGWhc7sr7iC9lQWSNNVddgPB/yYoyNuHP1FWekodK9u6XuDsu4BvV66aDDv4IzPMyyjZtiP8hj/zrwARNh84DUwPRQ0zPhda5%2bBPzMum83DtQPOab1vIjjeoA%2bRrlegzV22yH%2bXF3O0jzNK/sJz0dBwDMlWD0qHcsdeXSpI83VYy4q61iw%2bhR0bnN1N1Taqa4U9qelu3JSXF8px336tndl%2bvStVHI6m%2bneTbTGqkRA4ZqrwBZpW3oM/A7GXDlcsxUk/ggb7nF1rYfKJR6Pm39cAf%2bdbf7mmn9u5l8Y/xJtY9wyZNtnz/v5maLjs5nyW9ypli%2b58g9jhftG2%2bAt7AAAAABJRU5ErkJggg==' /%3e%3c/svg%3e" width="1292" data-src="/assets/static/logo_dark_mode.00af337.9b1718a2d247836b6454b1d3441765b3.svg" data-srcset="/assets/static/logo_dark_mode.82a2fbd.9b1718a2d247836b6454b1d3441765b3.svg 480w, /assets/static/logo_dark_mode.00af337.9b1718a2d247836b6454b1d3441765b3.svg 1292w" data-sizes="(max-width: 1292px) 100vw, 1292px" class="w-40 g-image g-image--lazy g-image--loading">
        <noscript><img src="/assets/static/logo_dark_mode.00af337.9b1718a2d247836b6454b1d3441765b3.svg" class="w-40 g-image g-image--loaded" width="1292" alt="logo"></noscript>
      </a>
    </div>
    <div class="block lg:hidden">
      <button data-cypress="hamburger" class="flex items-center px-3 py-2 border rounded border-gray-500 hover:text-gray-600 hover:border-gray-600">
        <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="current-color h-3 w-3">
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" fill="gray"></path>
        </svg>
      </button>
    </div>
    <ul data-cypress="menu" class="uppercase tracking-wide font-bold w-full block flex-grow lg:space-x-8 space-y-6 lg:space-y-0 lg:flex lg:flex-initial lg:w-auto items-center mt-8 lg:mt-0 hidden">
      <li><a href="/#about" data-cypress="about" class="text-copy-primary hover:text-gray-600">About</a></li>
      <li><a href="/blog" data-cypress="blog" class="text-copy-primary hover:text-gray-600">Blog</a></li>
    </ul>
  </nav>
</header>
